<h1>Help Page</h1>


<!DOCTYPE html>
<html lang="en">
<head>

  <title>Help With Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>FAQ</h1> 
  <p>Frequently Asked Questions</p> 
  <form class="form-inline">
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="What Do You Want To Know?" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Questions</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
