<h1>Home Page</h1>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container">
  <p class="text-info">This website was created by Whitney Washington
  Her major is Management Information Systems</p>
 <p class="text-primary">Whitney is 24 years old and plans to move to Texas once she graduates</p> 
 <p class="text-success"> She is a senior at Depaul University and will graduate in June. </p>
  </div>
  
  <style type="text/css">
   body { background: tan !important; } 
</style>